@model Kickback.Models.Customer 
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
</ul>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
